<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá! Seu amigo <%= @user.name %>, lhe indicou para concorrer em um de nossos eventos!</h1>
    <p>
    	Acesse e <a hreh="http://www.imasters.com.br/">cadastre-se</a> para concorrer aos principais eventos do iMasters !
    </p>
  </body>
</html>
